
<div class="uk-card uk-card-default  uk-padding">
  <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
              <img class="uk-border-circle" width="60" height="70" src="assets/img/2.jpg" alt="">

          </div>
          <div class="uk-width-expand">
              <h3>Email :  {{data.email}}</h3>
              <p>Name: {{data.name}}</p>
          </div>
      </div>
  </div>
  <div class="uk-card-body">
      <p>provic e: {{data.provice}}</p>
  </div>
  <div class="uk-card-footer">
    <p>phone: {{data.phone}}</p>
    <p>skill: {{data.skill}}</p>
    <p>comments: {{data.comments}}</p>

  </div>
</div>


